body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #cccccc;
}

/* Cabeçalho */
header {
    padding-top: 0.1px;
    width: 100%;
    background-color: #c5c5c5;
    box-shadow: 0px 0px 10px #242424;
}

#ClockStore {
    color: #1a1a1a;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 800;
    margin-left: 30px;
}

#navegacao ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    padding-bottom: 6px;
}

#navegacao li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  color: #000000;
  padding: 4px 8px;
  background-color: transparent;
  border: none;
  z-index: 1;
}

#navegacao li a::before,
#navegacao li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000000;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

#navegacao li a::before {
  top: 0;
  left: 0;
  transform-origin: left;
}

#navegacao li a::after {
  bottom: 0;
  left: 0;
  transform-origin: right;
}

#navegacao li a:hover::before {
  transform: scaleX(1);
}

#navegacao li a:hover::after {
  transform: scaleX(1);
}

main {
    justify-self: center;
    width: 1500px;
    height: 300px;
    box-shadow: 0px 0px 2px #1a1a1a;
    border-radius: 8px;
    gap: 10px;
}

#flex {
    display: flex;
    margin-left: 100px;
    justify-content: space-between;
}

.titulo {
    padding: 4px 8px;
    text-align: center;
}

@keyframes slideFromRigth {
    from {
    opacity: 0;
    transform: translateX(20px); 
    }
    to {
    opacity: 1;
    transform: translateX(0); 
    }
}


#titulo1 {
    font-size: 2.6rem;
    color: #1a1a1a;
    animation: slideFromRigth 0.4s ease-in-out forwards;
    animation-delay: 0.4s;
    opacity: 0;
}

#paragrafo {
    font-size: 1.4rem;
    color: #242424;
    animation: slideFromRigth 0.4s ease-in-out forwards;
    animation-delay: 0.4s;
    opacity: 0;
}

#banner1 {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-self: end;
    padding: 0; 
    width: 400px;
    height: 300px;
    border: none;
    outline: none;
}

